@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  font-family: 'Poppins', sans-serif;
  display: -ms-grid;
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.container {
  width: 80%;
  max-width: 120rem;
}

.menu-show {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.nav-container {
  background-color: aquamarine;
  padding: 2rem 4rem;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-container .nav-list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}

.nav-container .logo {
  font-size: 4.8rem;
  cursor: pointer;
}

.nav-container .hamburger {
  font-size: 3.6rem;
  display: none;
  cursor: pointer;
}

.nav-container .hamburger:active {
  position: relative;
  top: .1rem;
}

@media (max-width: 600px) {
  .nav-container .nav-list {
    display: none;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-top: 2rem;
  }
  .nav-container .hamburger {
    display: block;
  }
}
